.commander__root {
    background: rgba(255, 193, 7, 0.65);
}

.commander__header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Book Antiqua, Palatino, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;


    background: #212121;
    color: #FFFFFF;
}
