.att__root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
}

.att__headCell {
    background: #D32F2F;
    padding-bottom: 5px;
    padding-top: 5px;
}

.att__cell {
    padding-bottom: 7px;
    padding-top: 7px;
}

@media (max-width: 768px) {
    .att__headCell {
        font-size: 14px;
        overflow: hidden;
    }
}


.att__select {
    padding: 0 10px;
    width: 100%;
}
